* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202c36;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.btn-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  background-color: #2b3844;
  border: none;
}

.btn-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  background-color: #2b3844;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

/* Header styles  */

header {
  top: 0;
  padding: 15px 0;
  width: 100%;
  background: #2b3844;
  position: fixed;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left h2 {
  color: white;
}

/* Flag style  */

.flag {
  padding: 120px 0;
}

.flag-wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-left {
  width: 560px;
}

.flag-left img {
  width: 100%;
}

.flag-right h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 32px;
}

.flag-title__left p {
  color: white;
  padding: 10px 0;
}

.flag-title__right p {
  color: white;
  padding: 10px 0;
}

.flag-title-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.flag-footer {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.flag-footer p {
  color: white;
}
